h1{
  font-size: 85px;
  color: #DC0000;
}
body{
  background-color: #D3F6F3;
}
h4{
  font-size: 45px;
  color: #402A23;
}
h2{
  font-size: 38px;
  color: #344CB7;
}
h3{
  font-size: 45px;
  color: #AD6D68;
  text-align: center;
}
h6{
  font-size:53px;

}
.a{
  font-size: 25px;
  color:
}
.b{
  font-size: 20px;
  
}
.c{
  font-size: 20px;
}
.d{
  font-size: 17px;
}
.e{
  font-size: 25px;
  color: #000957;
}
h6{
  color: #34495E;
}
.f{
  position: absolute;
  margin-left: 335px;
  }
